.Wrapper {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    top: 2rem;
    bottom: 2rem;
    left: 1rem;
    width: 38vh;
    transition: transform 0.15s, opacity 0.15s;
}

.CartContainer{
    grid-column: 1/1;
    justify-self: end;
}

@media (min-width: 5000px) and (max-height: 1500px){
    .Wrapper {
        left: 94vh
    }
 }

 @media (min-width: 3079px) and (max-height: 1200px){
    .Wrapper {
        left: 94vh
    }
 }