.Wrapper {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    top: 2rem;
    bottom: 2rem;
    left: 30%;
    right: 30%;
    transition: transform 0.15s, opacity 0.15s;
    width: 38vh;
}

.PlayerContainer{
    grid-column: 1/1;
    justify-self: end;
}

.StorageContainer{
    grid-column: 3/3;
}

@media (min-width: 5000px) and (max-height: 1500px){
    .Wrapper {
        left: 140vh
    }
 }

 @media (min-width: 3079px) and (max-height: 1200px){
    .Wrapper {
        left: 140vh
    }
 }