.Wrapper {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 38vh;
    transition: transform 0.15s, opacity 0.15s;
    max-height: 50vh;
}

@media (min-width: 5000px) and (max-height: 1500px){
    .Wrapper {
        left: 94vh
    }
 }

 @media (min-width: 3079px) and (max-height: 1200px){
    .Wrapper {
        left: 94vh
    }
 }
